<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaGjX10xs8IYmDwbdEN1DrTXqjLT740n0</string>
	<key>GCM_SENDER_ID</key>
	<string>579591781164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenMarketTest</string>
	<key>PROJECT_ID</key>
	<string>greenmarkettest-dabd2</string>
	<key>STORAGE_BUCKET</key>
	<string>greenmarkettest-dabd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579591781164:ios:fd4902c6760fdb6954ca89</string>
</dict>
</plist>